@import "_null.scss";
@import "_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.wrapper {
    background-color: $dark-background;
    min-height: 100%;
    font-weight: 300;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    flex: 0 1 1140px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    justify-items: center;
}
.link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 110px;
    width: 110px;
    border-radius: 7px;
    transition: background 300ms ease;
    &:hover {
        background-color: $lighter-background;
    }
    &__circle {
        border-radius: 50%;
        flex: 0 0 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $circle;
    }
    &__icon {
        height: 50%;
        width: 50%;
        border-radius: 20%;
        object-fit: contain;
    }
    &__sign {
        color: $text;
    }
}
